.clearfix {*zoom: 1; } .clearfix:before, .clearfix:after {display: table; line-height: 0; content: ""; } .clearfix:after {clear: both; }

.pull-left{float:left;}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


body {
	line-height: 25px;
	font-family: 'Domine';
}

#app {
	float:left;
	position: relative;
	overflow: hidden;
}

.container {
	width: 740px;
	height: 880px;
	margin-left: 80px;
	margin-top: 51px;
	position: relative;
	overflow: hidden;
}

.ctrl-left, .ctrl-right, .ctrl-bar, .ctrl-reader, .ctrl-panel {
	position: absolute;
	height: 100%;
}

.ctrl-left {
	width: 45px;
	background: url('img/left.png') no-repeat center;
	left: 0;
}

.ctrl-right {
	width: 45px;
	background: #FFF url('img/right.png') no-repeat center;
	right: 0;
	z-index: 3;
}

.ctrl-left, .ctrl-right {
	cursor: pointer;
	-webkit-user-select: none;
}
.ctrl-left:hover {
	background-color: #EEEEEE;
}
.ctrl-right:hover {
	background-color: #EEEEEE;
}

.ctrl-bar {
	width: 45px;
	background-color: #FFF;
	right: 45px;
	z-index: 4;
}

.ctrl-reader {
	background-color: #FFF;
	left: 45px;
	right: 90px;
	padding-left: 26px;
	padding-right: 20px;
}

.ctrl-panel {
	background-color: #FAFAFA;
	width: 530px;
	right: 90px;
	box-shadow: -2px 0 7px rgba(180,180,180,0.9);
	z-index: 2;
	overflow: auto;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ctrl-panel.hidden {
	right: -447px;
}



#reader {
	margin-top: 15px;
	height: 96%;
}

.navbar {
	height: 50px;
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba(180, 180, 180, 0.9);
	z-index: 5;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.navbar-inner {
	width: 740px;
	margin-left: 80px;
	padding-top: 8px;
}

.toc-handle {
	cursor: pointer;
	background: url('img/toc.png');
	width: 44px;
	height: 32px;
	-webkit-user-select: none;
	float: left;
}

.chapter-title {
	font-size: 18px;
	text-align: center;
	margin-top: 6px;
	margin-left: 25%;
	float: left;
}

.top-sign-in {
	cursor: pointer;
	float: right;
	margin-top: 6px;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.top-sign-in .separator {
	margin: 0 3px;
}

.bubble {
	cursor: pointer;
	background: url('img/bubble.png');
	width: 27px;
	height: 26px;
	-webkit-user-select: none;
	margin-left: 9px;
	position: absolute;
	font-family: 'lucida grande';
	color: rgba(255,255,255,0.8);
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}

#scrubber {
	width: 720px;
	margin-left: 90px;
	margin-top: 26px;
	height: 40px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 7px;
	opacity: 0;
	-moz-transition: opacity 0.4s ease-out;
	-webkit-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
}

#scrubber:hover {
	opacity: 1;
}

.pageNumber {
	position: absolute;
	bottom: -2px;
	right: 50%;
	padding-right: 0;
	color: #888;
	font-size: 0.8em;
}

div.custom-overlay {
	margin: 12px;
}

/* Panel */

.excerpt {
	font-size: 20px;
	line-height: 34px;
	padding: 2px 3px;
	background-color: #FFF4A2;
}

.ctrl-panel hr {
	margin: 20px -20px;
	border: 0;
	border-top: 1px solid #E6E6E6;
}

textarea.comment {
	float: right;
	font-family: 'Domine';
	border: 1px solid #CDCDCD;
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
	width: 396px;
	margin-bottom: 10px;
	margin-top: 0;
}

div.buttons {
	clear: both;
	float: right;
}

button.btn {
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	padding: 9px 16px;
	letter-spacing: 3px;
	cursor: pointer;
}

.btn.send {
	background-color: #C03F1F;
}

.btn.tweet {
	background: url('img/twitterbird.png') no-repeat center center;
	background-color: #E4E4E4;
	width: 50px;
	margin-right: 2px;
}

.btn.tweet.active {
	background-color: #98D8FB;
}

.btn.sign-in {
	background: url('img/twitterbird.png') no-repeat 10px center;
	background-color: #98D8FB;
	padding-left: 50px;
}

img.avatar {
	border-radius: 3px;
}

.ctrl-panel-top {
	padding: 20px;
	background: #FFF;
}

.ctrl-panel-bottom {
	padding: 20px;
	background: url('img/sep.png') no-repeat;
}

span.header {
	font-family: 'lucida grande';
	text-transform: uppercase;
	color: #C03F1F;
}

div.comment {
	margin: 14px 0;
}

div.comment .comment-content {
	font-size: 13px;
}

div.comment .name {
	font-weight: 700;
}

div.comment a.name {
	text-decoration: none;
	color: #000;
}

div.comment a.name:hover {
	text-decoration: underline;
}

div.comment .time {
	color: #888;
}

.comment-text {
	color: #222;
}

.close {
	color: #888;
	text-decoration: none;
}
.close:hover {
	color: #222;
}
.close:active {
	color: #000;
}

.hide {
	display: none;
}

/* Media Queries */
@media (min-width: 1210px) {
	#menu-large {
		width: 265px;
		float: left;
		position: relative;
		box-shadow: 1px 0 2px rgba(20,20,20,0.2);
		border-right: 1px solid rgb(204, 204, 204);
		display: block;
		background-color: #fefefe;
		padding: 2px 0;
		margin: 0;
		overflow: auto;
		height: 100%;
		z-index: 10;
		color: rgb(77, 76, 76);
	}
	#menu-large li {
		font-size: small;
		padding: 1px 8px;
		list-style: none;
		border-bottom: 1px solid rgb(235, 235, 235);
	}
	#menu-large li:last-child {
		border-bottom: none;
	}
	#menu-large li:hover {
		background-color: #f2f2f2;
		cursor: pointer;
	}
	.navbar-inner {
		margin-left: 345px;
	}
}

@media (max-height: 650px) {
	.navbar-inner {
		padding-top: 1px;
	}
	
	.navbar {
		height: 36px;
	}
	.container {
		margin-top: 37px;
	}
	
	#scrubber {
		margin-top: 12px;
		height: 32px;
	}
	
	div.monelem_controls_scrubber_container {
		height: 25px;
	}
}
